:root {
    --backGround_button: #F0F0F0;

    --border_button: solid 1px #888888;
}

.button {
    background-color: var(--backGround_button);

    border: none;

    border-bottom: var(--border_button);

    border-right: var(--border_button);

    cursor: pointer;

    font-size: 1.4rem;

    outline: none;
}

.button:active  {
    background-color: #CCCCCC;
}

.button.doublePositions  {
    grid-column: span 2;
}

.button.triplePositions  {
    grid-column: span 3;
}

.button.roundBorderOne {
    border-bottom-left-radius: 5px;
}

.button.roundBorderTwo {
    border-bottom-right-radius: 5px;
}

.button.operation   {
    background-color: #83BAF1;

    color: #FFFFFF;
}

.button.operation:active    {
    background-color: #68A9EB;
}