.display    {
    align-items: flex-end;

    background-color: #0004;

    display: flex;

    font-size: 1.4rem;

    grid-column: span 4;

    justify-content: flex-end;

    overflow-x: scroll;

    padding: 0 5px 10px 0;
}

::-webkit-scrollbar {
    display: none;
}